<%= error_messages_for 'users' %>

<!--[form:users]-->
<p><label for="users_login">Login</label><br/>
<%= text_field 'users', 'login'  %></p>

<p><label for="users_password">Password</label><br/>
<%= password_field 'users', 'password'  %></p>

<p><label for="users_physician_name">Physician name</label><br/>
<%= text_field 'users', 'physician_name'  %></p>

<p><label for="users_email">Email</label><br/>
<%= text_field 'users', 'email'  %></p>

<p><label for="users_clinic">Clinic</label><br/>
<%= text_field 'users', 'clinic'  %></p>

<p><label for="users_address">Address</label><br/>
<%= text_field 'users', 'address'  %></p>

<p><label for="users_city">City</label><br/>
<%= text_field 'users', 'city'  %></p>

<p><label for="users_state">State</label><br/>
<%= text_field 'users', 'state'  %></p>

<p><label for="users_zip">Zip</label><br/>
<%= text_field 'users', 'zip'  %></p>

<p><label for="users_phone_area">Phone area</label><br/>
<%= text_field 'users', 'phone_area'  %></p>

<p><label for="users_phone_prefix">Phone prefix</label><br/>
<%= text_field 'users', 'phone_prefix'  %></p>

<p><label for="users_phone_suffix">Phone suffix</label><br/>
<%= text_field 'users', 'phone_suffix'  %></p>

<p><label for="users_tax">Tax</label><br/>
<%= text_field 'users', 'tax'  %></p>

<p><label for="users_payable">Payable</label><br/>
<%= text_field 'users', 'payable'  %></p>

<p><label for="users_county">County</label><br/>
<%= text_field 'users', 'county'  %></p>

<p><label for="users_paper">Paper</label><br/>
<%= text_field 'users', 'paper'  %></p>

<p><label for="users_lien_type">Lien type</label><br/>
<%= text_field 'users', 'lien_type'  %></p>

<p><label for="users_notary_name">Notary name</label><br/>
<%= text_field 'users', 'notary_name'  %></p>

<p><label for="users_notary_county">Notary county</label><br/>
<%= text_field 'users', 'notary_county'  %></p>

<p><label for="users_notary_commission">Notary commission</label><br/>
<%= text_field 'users', 'notary_commission'  %></p>

<p><label for="users_notary_expires">Notary expires</label><br/>
<%= date_select 'users', 'notary_expires'  %></p>
<!--[eoform:users]-->

