<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<meta http-equiv="Content-Language" content="en-us" />
		<meta name="author" Content="Matt Swezey">
		<META NAME="DESCRIPTION"
		CONTENT="Lienmaker is an online application that gives Physicians, Clinics, Hospitals, and Amublances an easy tool to generate and file Liens electronically.">
		<META NAME="KEYWORDS" CONTENT="physican, legal forms, lien, medical lien, physician lien, hospital lien, ambulance, hospital, legal service, medical legal, lienmaker ">
		<title>E-Lien</title>
		<%= stylesheet_link_tag "style" %>
		<%= javascript_include_tag :defaults %>
		<%= javascript_include_tag ("lightbox.js") %>
		<%= javascript_include_tag ("tooltip.js") %>
	</head>
	<body>
		<div id="container">
			<div id="leftdiv" style="float: left;width:20%; padding-left: 1%;">
				<%= link_to "E-Lien admin", :controller => 'admin', :action => 'menu' if session[:user] and session[:user].login == "admin" %> :: 	<%= link_to "E-File admin", :controller => 'file_admin', :action => 'index' if session[:user] and session[:user].login == "admin" %>		<% if session[:user] %>
				<div id="sidebar" style="margin-top:50px;">
					<b><%= "Welcome #{session[:user].login}!" -%></b>
					<br>
					<small>
						<ul id="sidebarNav">
							<li>
								<%= link_to 'Edit Profile', :controller => 'user', :action => 'profile', :id => session[:user].id -%>
							</li>
							<li>
								<%= link_to 'Logout', :controller => 'user', :action => 'logout' -%>
							</li>
						</ul> </small>
				</div>
				<% end %>
			</div>
			<div id="centerdiv" style="margin: 0 auto; width:580px;">
				<div style="text-align: center">
					<%= image_tag "e-lien-logo-green-sm.png"%>
				</div>
				<div id="top_ad" style="text-align:center;margin:5px auto;"></div>
				<% if flash[:notice] %>
				<div class="notice">
					<%= flash[:notice] %>
				</div>
				<% end %>
				<% if session[:user] %>
				<div id="nav">
					<ul>
						<li id="current">
							<%= link_to 'E-Lien', :controller => 'lien', :action => 'list' %>
						</li>
					</ul>
				</div>
				<% end %>
				<div id="content" style="clear:both;">
					<% if session[:user] %>

					<% end %>

					<%= yield -%>
				</div>
			</div>
			<div style="clear:both;">
				<center><%= link_to "Terms of Use", {:controller => 'user', :action => 'terms'}, :target => '_blank' %> | <%= link_to "Privacy Policy", {:controller => 'user', :action => 'privacy'}, :target => '_blank' %> | E-Lien &copy 2008	 All Rights Reserved
					</center>
	
			</div>
		</div>
	</body>
	<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));

	</script>
	<script type="text/javascript">
		var pageTracker = _gat._getTracker("UA-4341848-2");
		pageTracker._initData();
		pageTracker._trackPageview();

	</script>
</html>
