<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
	<head> 
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" /> 
		<meta http-equiv="Content-Language" content="en-us" /> 
			<title>Lloyd's Liens</title> 
			<%= stylesheet_link_tag "style" %> 
			<%= javascript_include_tag :defaults %> 
			<%= javascript_include_tag ("lightbox.js") %> 
			<%= javascript_include_tag ("tooltip.js") %> 
	</head> 
	<body id="rails-list"> 
			 

<%= link_to "admin", :controller => 'admin', :action => 'menu' if session[:user] and session[:user].login == "admin" %>
		<% if session[:user] and session[:user].login == "admin" %>
			<div id="sidebar" style="margin-top:50px;">

					<b><%= "Welcome #{session[:user].login}!" -%></b><br>
					<small>
					<ul id="sidebarNav">
						<li><b><%= link_to 'E-File', :controller => 'file', :action => 'index' -%></b></li>
						<% if provider? %>
							<li><b><%= link_to 'Referrals', :controller => 'referral', :action => 'list' -%></b></li>
						<% end %>
						<% if session[:user].login=="admin" %>
						<li><b><%= link_to 'Update Announcements', :controller => 'admin', :action => 'announcement' -%></b></li>
						<li><b><%= link_to 'Manage Promo Code', :controller => 'promocode', :action => 'index' -%></b></li>
						<% end %>
						<br><li><%= link_to 'Edit Profile', :controller => 'user', :action => 'profile', :id => session[:user].id -%></li>
						<li><%= link_to 'Logout', :controller => 'user', :action => 'logout' -%></li>
					</ul>
					</small>

			</div>
<% end %>

				


		<div id="container"> 
			<div id="header"> 
				
			</div> 
			
				<%= yield %>
			
			
		<br><br>
<div id="footer">
 <%= link_to "Terms of Use", {:controller => 'user', :action => 'terms'}, :target => '_blank' %> | <%= link_to "Privacy Policy", {:controller => 'user', :action => 'privacy'}, :target => '_blank' %> | E-Lien &copy 2008	 All Rights Reserved
	</div>
</body> 
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-4341848-2");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</html> 

