<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
	<head> 
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" /> 
		<meta http-equiv="Content-Language" content="en-us" /> 
		<meta name="author" Content="Matt Swezey">
		<META NAME="DESCRIPTION"
CONTENT="Lienmaker is an online application that gives Physicians, Clinics, Hospitals, and Amublances an easy tool to generate and file Liens electronically.">
<META NAME="KEYWORDS" CONTENT="physican, legal forms, lien, medical lien, physician lien, hospital lien, ambulance, hospital, legal service, medical legal, lienmaker ">
			<title>E-Lien</title> 
			<%= stylesheet_link_tag "style" %> 
			<%= javascript_include_tag :defaults %> 
			<%= javascript_include_tag ("lightbox.js") %> 
			<%= javascript_include_tag ("tooltip.js") %>
			
	</head> 
	<body> 
	<%= link_to "admin", :controller => 'admin', :action => 'menu' if session[:user] and session[:user].login == "admin" %>
		<% if session[:user] %>
			<div id="sidebar" style="margin-top:50px;"> 
				
					<b><%= "Welcome #{session[:user].login}!" -%></b><br> 
					<small> 
					<ul id="sidebarNav">
						<li><%= link_to 'Edit Profile', :controller => 'user', :action => 'profile', :id => session[:user].id -%></li>
						<li><%= link_to 'Logout', :controller => 'user', :action => 'logout' -%></li>
					</ul>
					</small> 
					
			</div> 
<% end %>
<div id="container">
		
			<div id="header" style="text-align:left"> 
				
				
			</div> 
			<div id="top_ad" style="text-align:center;margin:5px auto;">
				

			</div>
			<% if session[:user] %>
			<div id="nav">
				
					<ul id="lien_tabs">
						<li id="nav-left"></li>
						<li class="here"><%= link_to 'Lookup', :controller => 'lien', :action => 'list' %></li>
						<li><a href="#" onclick="new Effect.Highlight('lookup');return alert('Select a lien first!');">Patient</a></li>
						<li><a href="#" onclick="new Effect.Highlight('lookup');return alert('Select a lien first!');">Parties</a></li>
						<li><a href="#" onclick="new Effect.Highlight('lookup');return alert('Select a lien first!');">Case</a></li>
						<li id="nav-right"></li>
					</ul>
				
					
			</div>
			<br><br><br><br><br>
			<% end %>
			<% if flash[:notice] %><div class="notice"><%= flash[:notice] %></div><% end %>
			<div id="content"> 
				<% if session[:user] %>
				<div id="toolBar">
					<ul >
					<li><%= link_to "New Lien", :action => 'new' %> </li> 
					<li><%= link_to "Search", :controller => 'options', :action => 'turnOnSearch' %> </li> 
					<li><%= link_to 'Print This List<span style="font-size:xx-small"> (all)</span>', :controller => 'pdf', :action => 'list' if @pending != 'true' %><%= link_to 'Print This List<span style="font-size:xx-small"> (pending)</span>', :controller => 'pdf', :action => 'list_pending' if @pending == 'true' %> </li>

				</ul>
				</div>
				<% end %>
				<div id="contentContainer">
					<%= yield -%> 
				</div>
			</div> 
			</body> 
			<script type="text/javascript">
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
			</script>
			<script type="text/javascript">
			var pageTracker = _gat._getTracker("UA-4341848-2");
			pageTracker._initData();
			pageTracker._trackPageview();
			</script>
</html>
