<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<meta http-equiv="Content-Language" content="en-us" />
		<title>Lloyd's Liens</title>
		<%= stylesheet_link_tag "style" %>
		<%= javascript_include_tag :defaults %>
		<%= javascript_include_tag ("lightbox.js") %>
		<%= javascript_include_tag ("tooltip.js") %>
	</head>
	<body id="rails-list">
		<div id="sidebar">
			<% unless session[:user] %>
			<%= start_form_tag({:controller => 'user', :action => 'login'}, {:id => "login_form"}) -%> <label for="user_login">Login:</label>
			<br />
			<%= text_field :user, :login -%>
			<br />
			<label for="user_login">Password:</label>
			<br />
			<%= password_field :user, :password -%>
			<br />
			<%= submit_tag 'Login' -%>
			<%= end_form_tag%>
			Need an account?  <%= link_to 'Signup today!', :controller => 'user', :action => 'signup' %>
		</div>
		<% else %> <b><%= "Welcome #{session[:user].login}!" -%></b>
		<br>
		<div>
		<small>
			<ul id="sidebarNav">
				<li>
					<%= image_tag "icons/settings.gif", :width => "10px", :height => "10px" %> <%= link_to 'Edit Profile', :controller => 'user', :action => 'profile', :id => session[:user].id -%>
				</li>
				<li>
					<%= link_to 'Logout', :controller => 'user', :action => 'logout' -%>
				</li>
			</ul> </small>
		</div>

		<% end %>
		<div id="container">
			<div id="header"></div>
			<% if session[:user] %>
			<div id="nav">
				<ul>
					<li>
						<%= link_to 'Lookup', :controller => 'lien', :action => 'list' %>
					</li>
					<li <% if @pagename == "Profile" %>id="current"<% end %>>
						<%= link_to 'Profile', :controller => 'user', :action => 'profile', :id => @user.id %>
					</li>
					<li <% if @pagename == "Settings" %>id="current"<% end %>>
						<%= link_to 'Settings', :controller => 'user', :action => 'settings', :id => @user.id %>
					</li>
					<li <% if @pagename == "Notary" %>id="current"<% end %>>
						<%= link_to 'Notary', :controller => 'user', :action => 'notary', :id => @user.id %>
					</li>
				</ul>
			</div>
			<% end %>
			<div id="content">
				<div id="toolBar">
					<h3><i><%= @user.login %>'s</i> <%= @pagename %></h3>
				</div>
				<div id="contentContainer" style="clear:both">
					<% if flash[:notice] %>
					<div class="notice">
						<%= flash[:notice] %>
					</div>
					<% end %>
					<%= form_tag :controller => 'user', :action => 'update', :id => @user.id -%>
					<%= yield -%>
					<center>
						<%= submit_tag 'Update' -%>
					</center>
					</form>
					<%= link_to 'Back to Lookup', { :controller => 'lien', :action => 'list' }%>
				</div>
			</div>
			<div id="footer">
				<%= link_to "Terms of Use", {:controller => 'user', :action => 'terms'}, :target => '_blank' %> | <%= link_to "Privacy Policy", {:controller => 'user', :action => 'privacy'}, :target => '_blank' %> | E-Lien &copy 2008	 All Rights Reserved
			</div>
	</body>
	<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));

	</script>
	<script type="text/javascript">
		var pageTracker = _gat._getTracker("UA-4341848-2");
		pageTracker._initData();
		pageTracker._trackPageview();

	</script>
</html>
