<div id="contentContainer" style="clear:both">
	<%= link_to "<small>Show Stats</small>", :controller => 'options', :action => 'turnOnStats' if session[:stats] == nil %>
	<% if session[:stats] == true %>
	<div style="margin:20px 0;width:300px;"><small>
		<div style="float:left;">
			<p><b>Pending Liens:</b> <%= Lien.count(:conditions => 'user_id = ' + session[:user].id.to_s + ' AND case_release_date is NULL' )%></p>
			<p><b>Pending Amount: </b><%= number_to_currency(Lien.sum(:case_lien_amount, :conditions => "user_id = " + session[:user].id.to_s + ' AND case_collected_date is NULL')) %></p>
		</div>
		<div style="float:right;">
			<p><b>Total Liens:</b> <%= Lien.count(:conditions => 'user_id = ' + session[:user].id.to_s) %></p>
			<p><b>Total Amount:</b> <%= number_to_currency(Lien.sum(:case_lien_amount, :conditions => "user_id = " + session[:user].id.to_s)) %></p>
			
		</div>	
		<div style="clear:both">
			<%= link_to 'Hide Stats', :controller => 'options', :action => 'turnOffStats'%>
			</div>
	</small></div>
	<% end %>
<% if session[:user] %>
<br><br>
<% if session[:searchOn] %>
<div id="search"> 
<%= text_field "lien", "search","size" => 21 -%> <%= link_to "X", :controller => 'options', :action => 'turnOffSearch' %>
<p style="margin-left:20px;margin-bottom:20px;font-size:xx-small;font-weight:normal;">Searching by <%= session[:search].humanize %></p>
</div>
<%= observe_field :lien_search, 
:frequency => 1.0, 
:update => 'results',
:loading => 'Element.show("loading")', 
:complete => 'Element.hide("loading")',  
:url => { :controller => 'lien', :action=> session[:searchOption] }, 
:with => "'search=' + encodeURIComponent(value)" 
%>
<div id="results">
</div>
<div id="loading" style="display:none;"><p><img height="20px" width="20px" src="/images/ajax-loader.gif">Searching...</p></div>  
<% end %>
<% if @user_layout == "standard"%>
<% if @user.notary_commission  == nil %><h2 style="background:red;color:#fff;">You need to setup your Notary! <%= link_to 'Click here', :controller => "user", :action => "notary", :id => @user.id %> to setup.</h2><% end %>
<% end %>
<% if @user.liens.count() > 0%>
<br>
<small>Showing <%= session[:showing] %> liens by <%= session[:ordered] %></small><br><br>
<style type="text/css">
td { padding-right:10px;}
</style>

<div id="lookup" style="text-align:center;min-height:200px;">
	<table  width="550px"  cellpadding="5">
		<th></th><th valign="bottom"><%= link_to('Patient\'s Name', :controller => 'options', :action => 'list_by_name')%></th><th valign="bottom"><%= link_to('Attorney\'s Name', :controller => 'options', :action => 'list_by_attorney')%></th><th valign="bottom"><%= link_to('Accident Date', :controller => 'options', :action => 'list_by_date')%></th><th valign="bottom"><%= link_to('Lien Amount', :controller => 'options', :action => 'list_by_amount')%></th><% if @user_layout == "standard"%><th onmouseover="toolTip('<b>Key</b><br><img src=\'/images/dollar-red.gif\' /> - Collected. Need to file release.<br><img src=\'/images/dollar.gif\' /> - Collected and Released')" onmouseout ="toolTip()" ><% end %>Status</th><th>Options</th>
			<% @liens.each do |lien| %> 
			<% row_color = cycle("DDEEF7", "FFFFFF")%>
							
					<tr id="tr-<%= lien.id %>" <% if row_color == "CF2A2D" %> class="cycle"<% end %> style="background: #<%= row_color %>" onmouseover="Element.show('arrow-<%= lien.id %>')" onmouseout="Element.hide('arrow-<%= lien.id %>')">
						<td width="22px" bgcolor="#ffffff"><div style="display:none;" id="arrow-<%= lien.id %>"><%= image_tag "arrow.png", :width => '20px' %></div></td>	
						<td><%= link_to "#{lien.patient_last}, #{lien.patient_first}", {:action => 'patient', :id => lien.id} -%></td>
						<td><%= lien.patient_attorney_name %></td>
						<td><%= lien.case_accident_date%></td>
						<td><%= number_to_currency(lien.case_lien_amount) %></td>
						<% if @user_layout == "standard"%>
						<td><%= image_tag "dollar-red.gif", :width => "15px"  if lien.case_collected_date != nil and lien.case_release_date == nil %>
							<%= image_tag "dollar.gif", :width => "15px"  if lien.case_collected_date != nil and lien.case_release_date != nil %>
						<% else %>
						<td><%= image_tag "dollar.gif", :width => "15px"  if lien.case_collected_date != nil %>
						<% end %>

						<td><%= link_to image_tag("paper.png", :border=>0, :width=>25, :height=>25), 
:action => 'edit', :controller => 'lien'%></a></td>
						<td><%= link_to image_tag("notes_sm.png", :border=>0, :width=>25, :height=>25), 
:action => 'edit', :controller => 'lien'%></a></td>

						</tr>
			<% end %>
	</table>
	
</div>
<% else %>
<h1>Click <%= link_to 'New Lien', :action => 'new'%> to begin</h1>
<% end %>

<center>
<%= will_paginate @liens %>

<% @liens.each do |lien| %> 
<div id="lightbox<%= lien.id %>" class="leightbox">

	<h1 style="background:#DDEEF7;color:#348BCB;margin-bottom:10px;padding:4px;"><%= "#{lien.patient_last}, #{lien.patient_first}" %><span style="font-size:medium;color:#CCC"> Accident Date: <%= lien.case_accident_date.to_s %></span></h1>
	
	<%= image_tag "paper.png", :style => "float:right;", :height => "125px", :width => "125px" %>
	
	<ul class="liens">
		<li><%= image_tag "icons/print.gif" %> <b>Print</b>

<% if @user_layout == "standard"%>

	<% if @user.paper == 0 %>
		
			<ul id="print_options">
				<li><%= link_to "Lien", :controller => "pdf", :action => "lien_letter", :id => lien.id %></li>
				<li><%= link_to "Release", :controller => "pdf", :action => "release_letter", :id => lien.id %></li>
				<li><%= link_to "Notes", :controller => "pdf", :action => "notes", :id => lien.id if lien.notes.count() > 0 %></li>
			</ul>
	<% else %>
			<ul id="print_options">
				<li><%= link_to "Lien", :controller => "pdf", :action => "lien_legal", :id => lien.id %></li>
				<li><%= link_to "Release", :controller => "pdf", :action => "release_legal", :id => lien.id %></li>
				<li><%= link_to "Notes", :controller => "pdf", :action => "notes", :id => lien.id  if lien.notes.count() > 0 %></li>
			</ul>
	<% end %>
<% else %>
			<ul id="print_options">
				<li><%= link_to "Lien", :controller => "pdf", :action => "lien_contractual", :id => lien.id %></li>
				<li><%= link_to "Notes", :controller => "pdf", :action => "notes", :id => lien.id if lien.notes.count() > 0 %></li>
			</ul>
<% end %>
		<li><%= image_tag "icons/e-file.gif" %> Electronically File <br><small>(not available in this jurisdiction)</small></li>
		<li><%= image_tag "icons/edit.gif" %> <%= link_to "Edit", :action => "patient", :id => lien.id %></li>
		<li><%= image_tag "icons/delete.gif" %> <%= link_to "Delete", {:controller => "lien", :action => "delete", :id => lien.id }, :confirm => 'Are you sure?' %></li>
	</ul>		
	
	<p class="footer" >
		<a href="#" class="lbAction" rel="deactivate">Close</a>
	</p>
</div>

<div id="lightbox-notes<%= lien.id %>" class="leightbox">
	<div style='float:right'><a  href="#" class="lbAction" rel="deactivate"><%= image_tag "cancel.png", :width => "25px" %></a><br><span style="font-size:7pt;">Close</span></div>
	<h1 style='color:#348BCB;'>Notepad</h1>
	<h2><%= "#{lien.patient_first} #{lien.patient_last}" %></h2>
	<span style="font-size:medium;color:#CCC"><h3 style='color:#B6D201;'>Attorney Info</h3><b><%= lien.patient_attorney_name.to_s %></b></span><br>
	<span style="font-size:medium;color:#CCC"><b><%= lien.patient_attorney_phone.to_s %></b></span><br>
	<% for note in lien.notes %>
		<% row_color = cycle("FFFFFF", "DDEEF7")%>
		<span style="background:#<%= row_color%>"><%= note.body %> <%= link_to "<img src='/images/delete.png' width='12px' />", {:controller => "lien", :action => 'noteDelete', :id => note.id }, :confirm => 'Are you sure you want to delete this note?' %></span><br>
	<% end %>
		<%= form_tag :action => "note", :id => lien.id %>
		<%= submit_tag "Save Note" %>
		<%= text_area "note", "body", :value => Date.today.strftime("%B %d, %Y") + "\n",:rows => 15 %><br>
		<%= submit_tag "Save Note" %><p class="footer" align="right">
			
		</p>
		</form>
		
		
</div>
<% end %>
<% end %>
</div>
