<%= error_messages_for 'lien' %>

<!--[form:lien]-->
<p><label for="lien_created_at">Created at</label><br/>
<%= datetime_select 'lien', 'created_at'  %></p>

<p><label for="lien_updated_at">Updated at</label><br/>
<%= datetime_select 'lien', 'updated_at'  %></p>

<p><label for="lien_patient_last">Patient last</label><br/>
<%= text_field 'lien', 'patient_last', :onblur => :"new Effect.Highlight(this);" %></p>

<p><label for="lien_patient_first">Patient first</label><br/>
<%= text_field 'lien', 'patient_first'  , :onblur => :"new Effect.Highlight(this);" %></p>

<p><label for="lien_patient_address">Patient address</label><br/>
<%= text_field 'lien', 'patient_address'  , :onblur => :"new Effect.Highlight(this);" %></p>

<p><label for="lien_patient_city">Patient city</label><br/>
<%= text_field 'lien', 'patient_city'  , :onblur => :"new Effect.Highlight(this);" %></p>

<p><label for="lien_patient_state">Patient state</label><br/>
<%= text_field 'lien', 'patient_state'  , :onblur => :"new Effect.Highlight(this);" %></p>

<p><label for="lien_patient_zip">Patient zip</label><br/>
<%= text_field 'lien', 'patient_zip'  , :onblur => :"new Effect.Highlight(this);" %></p>

<p><label for="lien_patient_home">Patient home</label><br/>
<%= text_field 'lien', 'patient_home'  , :onblur => :"new Effect.Highlight(this);" %></p>

<p><label for="lien_patient_cell">Patient cell</label><br/>
<%= text_field 'lien', 'patient_cell'  , :onblur => :"new Effect.Highlight(this);" %></p>

<p><label for="lien_patient_attorney_name">Patient attorney name</label><br/>
<%= text_field 'lien', 'patient_attorney_name'  , :onblur => :"new Effect.Highlight(this);" %></p>

<p><label for="lien_patient_attorney_address">Patient attorney address</label><br/>
<%= text_field 'lien', 'patient_attorney_address'  , :onblur => :"new Effect.Highlight(this);" %></p>

<p><label for="lien_patient_attorney_city">Patient attorney city</label><br/>
<%= text_field 'lien', 'patient_attorney_city'  , :onblur => :"new Effect.Highlight(this);" %></p>

<p><label for="lien_patient_attorney_state">Patient attorney state</label><br/>
<%= text_field 'lien', 'patient_attorney_state'  , :onblur => :"new Effect.Highlight(this);" %></p>

<p><label for="lien_patient_attorney_zip">Patient attorney zip</label><br/>
<%= text_field 'lien', 'patient_attorney_zip'  , :onblur => :"new Effect.Highlight(this);" %></p>

<p><label for="lien_patient_attorney_phone">Patient attorney phone</label><br/>
<%= text_field 'lien', 'patient_attorney_phone'  , :onblur => :"new Effect.Highlight(this);" %></p>

<p><label for="lien_patient_attorney_fax">Patient attorney fax</label><br/>
<%= text_field 'lien', 'patient_attorney_fax'  , :onblur => :"new Effect.Highlight(this);" %></p>

<p><label for="lien_patient_insurance_company">Patient insurance company</label><br/>
<%= text_field 'lien', 'patient_insurance_company'  , :onblur => :"new Effect.Highlight(this);" %></p>

<p><label for="lien_patient_insurance_address">Patient insurance address</label><br/>
<%= text_field 'lien', 'patient_insurance_address'  , :onblur => :"new Effect.Highlight(this);" %></p>

<p><label for="lien_patient_insurance_city">Patient insurance city</label><br/>
<%= text_field 'lien', 'patient_insurance_city'  , :onblur => :"new Effect.Highlight(this);" %></p>

<p><label for="lien_patient_insurance_state">Patient insurance state</label><br/>
<%= text_field 'lien', 'patient_insurance_state'  , :onblur => :"new Effect.Highlight(this);" %></p>

<p><label for="lien_patient_insurance_zip">Patient insurance zip</label><br/>
<%= text_field 'lien', 'patient_insurance_zip'  , :onblur => :"new Effect.Highlight(this);" %></p>

<p><label for="lien_patient_insurance_adjuster">Patient insurance adjuster</label><br/>
<%= text_field 'lien', 'patient_insurance_adjuster'  , :onblur => :"new Effect.Highlight(this);" %></p>

<p><label for="lien_patient_insurance_phone">Patient insurance phone</label><br/>
<%= text_field 'lien', 'patient_insurance_phone'  , :onblur => :"new Effect.Highlight(this);" %></p>

<p><label for="lien_patient_insurance_ext">Patient insurance ext</label><br/>
<%= text_field 'lien', 'patient_insurance_ext'  , :onblur => :"new Effect.Highlight(this);" %></p>

<p><label for="lien_patient_insurance_claim">Patient insurance claim</label><br/>
<%= text_field 'lien', 'patient_insurance_claim'  , :onblur => :"new Effect.Highlight(this);" %></p>

<p><label for="lien_defendant_name">Defendant name</label><br/>
<%= text_field 'lien', 'defendant_name'  , :onblur => :"new Effect.Highlight(this);" %></p>

<p><label for="lien_defendant_address">Defendant address</label><br/>
<%= text_field 'lien', 'defendant_address'  , :onblur => :"new Effect.Highlight(this);" %></p>

<p><label for="lien_defendant_city">Defendant city</label><br/>
<%= text_field 'lien', 'defendant_city'  , :onblur => :"new Effect.Highlight(this);" %></p>

<p><label for="lien_defendant_state">Defendant state</label><br/>
<%= text_field 'lien', 'defendant_state'  , :onblur => :"new Effect.Highlight(this);" %></p>

<p><label for="lien_defendant_zip">Defendant zip</label><br/>
<%= text_field 'lien', 'defendant_zip'  , :onblur => :"new Effect.Highlight(this);" %></p>

<p><label for="lien_defendant_home">Defendant home</label><br/>
<%= text_field 'lien', 'defendant_home'  , :onblur => :"new Effect.Highlight(this);" %></p>

<p><label for="lien_defendant_cell">Defendant cell</label><br/>
<%= text_field 'lien', 'defendant_cell'  , :onblur => :"new Effect.Highlight(this);" %></p>

<p><label for="lien_defendant_insurance_company">Defendant insurance company</label><br/>
<%= text_field 'lien', 'defendant_insurance_company'  , :onblur => :"new Effect.Highlight(this);" %></p>

<p><label for="lien_defendant_insurance_address">Defendant insurance address</label><br/>
<%= text_field 'lien', 'defendant_insurance_address'  , :onblur => :"new Effect.Highlight(this);" %></p>

<p><label for="lien_defendant_insurance_city">Defendant insurance city</label><br/>
<%= text_field 'lien', 'defendant_insurance_city'  , :onblur => :"new Effect.Highlight(this);" %></p>

<p><label for="lien_defendant_insurance_state">Defendant insurance state</label><br/>
<%= text_field 'lien', 'defendant_insurance_state'  , :onblur => :"new Effect.Highlight(this);" %></p>

<p><label for="lien_defendant_insurance_zip">Defendant insurance zip</label><br/>
<%= text_field 'lien', 'defendant_insurance_zip'  , :onblur => :"new Effect.Highlight(this);" %></p>

<p><label for="lien_defendant_insurance_adjuster">Defendant insurance adjuster</label><br/>
<%= text_field 'lien', 'defendant_insurance_adjuster'  , :onblur => :"new Effect.Highlight(this);" %></p>

<p><label for="lien_defendant_insurance_phone">Defendant insurance phone</label><br/>
<%= text_field 'lien', 'defendant_insurance_phone'  , :onblur => :"new Effect.Highlight(this);" %></p>

<p><label for="lien_defendant_insurance_ext">Defendant insurance ext</label><br/>
<%= text_field 'lien', 'defendant_insurance_ext'  , :onblur => :"new Effect.Highlight(this);" %></p>

<p><label for="lien_defendant_insurance_claim">Defendant insurance claim</label><br/>
<%= text_field 'lien', 'defendant_insurance_claim'  , :onblur => :"new Effect.Highlight(this);" %></p>

<p><label for="lien_other_name">Other name</label><br/>
<%= text_field 'lien', 'other_name'  , :onblur => :"new Effect.Highlight(this);" %></p>

<p><label for="lien_other_address">Other address</label><br/>
<%= text_field 'lien', 'other_address'  , :onblur => :"new Effect.Highlight(this);" %></p>

<p><label for="lien_other_city">Other city</label><br/>
<%= text_field 'lien', 'other_city'  , :onblur => :"new Effect.Highlight(this);" %></p>

<p><label for="lien_other_state">Other state</label><br/>
<%= text_field 'lien', 'other_state'  , :onblur => :"new Effect.Highlight(this);" %></p>

<p><label for="lien_other_zip">Other zip</label><br/>
<%= text_field 'lien', 'other_zip'  , :onblur => :"new Effect.Highlight(this);" %></p>

<p><label for="lien_other_home">Other home</label><br/>
<%= text_field 'lien', 'other_home'  , :onblur => :"new Effect.Highlight(this);" %></p>

<p><label for="lien_other_cell">Other cell</label><br/>
<%= text_field 'lien', 'other_cell'  , :onblur => :"new Effect.Highlight(this);" %></p>

<p><label for="lien_other_insurance_company">Other insurance company</label><br/>
<%= text_field 'lien', 'other_insurance_company'  , :onblur => :"new Effect.Highlight(this);" %></p>

<p><label for="lien_other_insurance_address">Other insurance address</label><br/>
<%= text_field 'lien', 'other_insurance_address'  , :onblur => :"new Effect.Highlight(this);" %></p>

<p><label for="lien_other_insurance_city">Other insurance city</label><br/>
<%= text_field 'lien', 'other_insurance_city'  , :onblur => :"new Effect.Highlight(this);" %></p>

<p><label for="lien_other_insurance_state">Other insurance state</label><br/>
<%= text_field 'lien', 'other_insurance_state'  , :onblur => :"new Effect.Highlight(this);" %></p>

<p><label for="lien_other_insurance_zip">Other insurance zip</label><br/>
<%= text_field 'lien', 'other_insurance_zip'  , :onblur => :"new Effect.Highlight(this);" %></p>

<p><label for="lien_other_insurance_adjuster">Other insurance adjuster</label><br/>
<%= text_field 'lien', 'other_insurance_adjuster'  , :onblur => :"new Effect.Highlight(this);" %></p>

<p><label for="lien_other_insurance_phone">Other insurance phone</label><br/>
<%= text_field 'lien', 'other_insurance_phone'  , :onblur => :"new Effect.Highlight(this);" %></p>

<p><label for="lien_other_insurance_ext">Other insurance ext</label><br/>
<%= text_field 'lien', 'other_insurance_ext'  , :onblur => :"new Effect.Highlight(this);" %></p>

<p><label for="lien_other_insurance_claim">Other insurance claim</label><br/>
<%= text_field 'lien', 'other_insurance_claim'  %></p>

<p><label for="lien_case_accident_date">Case accident date</label><br/>
<%= date_select 'lien', 'case_accident_date'  %></p>

<p><label for="lien_case_filed_date">Case filed date</label><br/>
<%= date_select 'lien', 'case_filed_date'  %></p>

<p><label for="lien_case_release_date">Case release date</label><br/>
<%= date_select 'lien', 'case_release_date'  %></p>

<p><label for="lien_case_book">Case book</label><br/>
<%= text_field 'lien', 'case_book'  , :onblur => :"new Effect.Highlight(this);" %></p>

<p><label for="lien_case_lien_number">Case lien number</label><br/>
<%= text_field 'lien', 'case_lien_number'  , :onblur => :"new Effect.Highlight(this);" %></p>

<p><label for="lien_case_lien_amount">Case lien amount</label><br/>
<%= text_field 'lien', 'case_lien_amount'  , :onblur => :"new Effect.Highlight(this);" %></p>

<p><label for="lien_case_collected_date">Case collected date</label><br/>
<%= date_select 'lien', 'case_collected_date'  %></p>

<p><label for="lien_case_page">Case page</label><br/>
<%= text_field 'lien', 'case_page'  , :onblur => :"new Effect.Highlight(this);" %></p>

<p><label for="lien_case_status">Case status</label><br/>
<%= text_field 'lien', 'case_status'  , :onblur => :"new Effect.Highlight(this);" %></p>

<p><label for="lien_case_amend_date">Case amend date</label><br/>
<%= date_select 'lien', 'case_amend_date'  %></p>

<p><label for="lien_case_amend_reason">Case amend reason</label><br/>
<%= text_area 'lien', 'case_amend_reason'  , :onblur => :"new Effect.Highlight(this);" %></p>

<p><label for="lien_notes">Notes</label><br/>
<%= text_area 'lien', 'notes'  , :onblur => :"new Effect.Highlight(this);" %></p>
<!--[eoform:lien]-->

