<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
	<head> 
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" /> 
		<meta http-equiv="Content-Language" content="en-us" /> 
		<meta name="author" Content="Matt Swezey">
		<META NAME="DESCRIPTION"
CONTENT="Lienmaker is an online application that gives Physicians, Clinics, Hospitals, and Amublances an easy tool to generate and file Liens electronically.">
<META NAME="KEYWORDS" CONTENT="physican, legal forms, lien, medical lien, physician lien, hospital lien, ambulance, hospital, legal service, medical legal, lienmaker ">
			<title>E-Lien</title> 
			<%= stylesheet_link_tag "style" %> 
			<%= javascript_include_tag :defaults %> 
			<%= javascript_include_tag ("lightbox.js") %> 
			<%= javascript_include_tag ("tooltip.js") %>
			
	</head> 
	<body> 
		<div id="container">
		
			<div id="header" style="text-align:left"> 
				
				
			</div> 
			<div id="top_ad" style="text-align:center;margin:5px auto;">
				

			</div>
		
			<% if flash[:notice] %><div class="notice"><%= flash[:notice] %></div><% end %>
			<div id="content"> 

				<div id="contentContainer">
					
					
					<%#= error_messages_for 'user' -%> 
					<fieldset> 
						<center><h1>User Signup</h1></center><br>
					<table>
					<tr>
						
					<td align="right">
						
					<%= form_for :user, :url => { :action => :signup } do |f| %>
					
					<label for="user_login">Desired Login: 
					<%= f.text_field :login ,:onfocus => "new Effect.Appear('loginNote')", :onblur => "Element.hide('loginNote')" %></label> <br>
					<div id="loginNote" style="display:none;" class="signupNote">Login must be 5-15 characters</div>
					<label for="user_password">Password: 
					<%= f.password_field :password, :value => '', :onfocus => "new Effect.Appear('passNote')", :onblur => "Element.hide('passNote')" %></label> <br>
					<div id="passNote" style="display:none;" class="signupNote">Password must be at least 6 characters</div>
					<label for="user_email">Email: 
					<%= f.text_field :email, :onfocus => "new Effect.Appear('mailNote')", :onblur => "Element.hide('mailNote')" %></label> <br>	
					<div id="mailNote" style="display:none;" class="signupNote">Must be a valid email address</div>
					
					<br><hr><br>
					<label for="user_physician_name">Physician's Name: 
					 <span style="color:black">Dr.</span> <%= f.text_field :physician_name %></label> <br>
					<label for="user_clinic">Clinic's Name: 
					<%= f.text_field :clinic %></label> <br>
					<label for="user_address">Address: 
					<%= f.text_field :address %></label> <br>
					<label for="user_city">City: 
					<%= f.text_field :city %></label> <br>
					<label for="user_state">State: 
					<%= f.text_field :state, :size => '3', :maxlength=> 2, :onfocus => "new Effect.Appear('stateNote')", :onblur => "Element.hide('stateNote')" %></label>
					<div id="stateNote" style="display:none;" class="signupNote">Please enter your state's two character postal abbreviation.  This customizes the format of the lien for your state.</div>
					<label for="user_zip">Zip: 
					<%= f.text_field :zip, :size => 6, :maxlength => 5,:onfocus => "new Effect.Appear('zipnote')", :onblur => "Element.hide('zipnote')" %></label>  <br><br>
					<div id="zipnote" style="display:none;" class="signupNote">Zip should be exactly 5 digits</div>
					<label for="user_phone">Phone: 
					<%= text_field :user, :phone_area, :size => 4, :maxlength => 3 -%> <%= text_field :user, :phone_prefix, :size => 4, :maxlength => 3 -%> <%= text_field :user, :phone_suffix, :size => 5, :maxlength => 4 -%></label> <br>
					<br><br>
					<label for="user_tax">Tax ID Number: 
					<%= f.text_field :tax, :onfocus => "new Effect.Appear('taxNote')", :onblur => "Element.hide('taxNote')" -%></label>  <div id="taxNote" style="display:none;" class="signupNote">This is only required for Oklahoma users.</div>
					<br><br>
					<label for="user_payable">The name of company or individual the tax id number is associated with:<br>
					<%= f.text_field :payable, :onfocus => "new Effect.Appear('payableNote')", :onblur => "Element.hide('payableNote')"  %></label> <div id="payableNote" style="display:none;" class="signupNote">This is to whom the checks will be made out.</div>
					
					<br><br>
					
					<label for="user_county">County Jurisdiction: 
					<%= f.text_field :county %></label> <br>
					<br><hr><br>
					<h2 align="center" style="padding-left: 45px;">Billing Information</h2>
					<h1 align="center"  style="padding-left: 56px;">$59 Annual Membership</h1><br>
					<label for="user_promocode">Promotional Code: <%= f.text_field :promocode,:onfocus => "new Effect.Appear('promocodenote')", :onblur => "Element.hide('promocodenote')" %></label><div id="promocodenote" style="display:none;" class="signupNote">Enter Code if you have.Otherwise leave this field blank.</div><br>
					<div style="padding-left: 140px" align="left">
					<label for="user_card_type">Card Type: <%= f.select :card_type ,[["Select Card Type", ""],["Visa", "visa"], ["MasterCard", "master"], ["Discover", "discover"], ["American Express", "american_express"]] %></label>
					</div><br>
					<label for="user_card_number">Card Number: <%= f.text_field :card_number %></label><br>
					<label for="user_first_name">First Name: </label><%= f.text_field :first_name %></label><br>
					<label for="user_last_name">Last Name: <%= f.text_field :last_name %></label><br>
					<div style="padding-left: 70px" align="left"><label for="user_card_verification_value">Card Verification Value: <%= f.text_field :card_verification_value ,:size=>3%></label></div><br>
					<div style="padding-left: 105px" align="left"><label for="user_month">Card Expires on: <%= f.select :month,[["1-January",1],["2-February",2],["3-March",3],["4-April",4],["5-May",5],["6-June",6],["7-July",7],["8-August",8],["9-September",9],["10-October",10],["11-November",11],["12-December",12]] %></label>
					<label for="user_year">Year: <%= f.select :year,Time.now.year..Time.now.year+15 %></label></div><br>
					<h2 align="center" style="padding-left: 45px;">Billing Address</h2><br />
					<label for="user_bill_address_1">Address1: <%= f.text_field :bill_address_1 %></label><br>
					<label for="user_bill_address_2">Address2: <%= f.text_field :bill_address_2 %></label><br>
					<label for="user_bill_city">City: <%= f.text_field :bill_city %></label><br>

					<label for="user_bill_state">State: <%= f.select :bill_state, [["ALABAMA","Alabama"],["ALASKA","Alaska"],["ARIZONA","Arizona"],
	["ARKANSAS","Arkansas"],["CALIFORNIA","California"],["COLORADO","Colorado"],["CONNECTICUT","Connecticut"],
	["DELAWARE","Delaware"],["FLORIDA","Florida"],["GEORGIA","Georgia"],["HAWAII","Hawaii"],["IDAHO","Idaho"],
	["ILLINOIS","Illinois"],["INDIANA","Indiana"],["IOWA","Iowa"],["KANSAS","Kansas"],["KENTUCKY","Kentucky"],
	["LOUISIANA","Louisiana"],["MAINE","Maine"],["MARYLAND","Maryland"],["MASSACHUSETTS","Massachusetts"],
	["MICHIGAN","Michigan"],["MINNESOTA","Minnesota"],["MISSISSIPPI","Mississippi"],["MISSOURI","Missouri"],
	["MONTANA","Montana"],["NEBRASKA","Nebraska"],["NEVADA","Nevada"],["NEW HAMPSHIRE","HAMPSHIRE"],
	["NEW JERSEY","JERSEY"],["NEW MEXICO","MEXICO"],["NEW YORK","YORK"],["NORTH CAROLINA","CAROLINA"],
	["NORTH DAKOTA","DAKOTA"],["OHIO","Ohio"],["OKLAHOMA","Oklahoma"],["OREGON","Oregon"],
	["PENNSYLVANIA","Pennsylvania"],["RHODE","ISLAND"],["SOUTH CAROLINA","CAROLINA"],["SOUTH DAKOTA","DAKOTA"],
	["TENNESSEE","Tennessee"],["TEXAS","Texas"],["UTAH","Utah"],["VERMONT","Vermont"],["VIRGINIA","Virginia"],
	["WASHINGTON","Washington"],["WEST VIRGINIA","West Virginia"],["WISCONSIN","Wisconsin"],["WYOMING","Wyoming"]] %></label><br><br />
					<div style="padding-left: 85px" align="left"><label for="user_bill_country">Country: <%= "United States of America" %></label></div><br />
					<label for="user_bill_zip">Zip: <%= f.text_field :bill_zip %></label><br>
					<br />
					<center><h2>Pay By Check Option</h2></center>
					<center>If paying by check, please make payable and send to:<center>
					<br />
					<center>E-LIEN, LLC</center>
					<center>4634 E. 87th Pl.</center>
					<center>Tulsa  OK   74137</center>
					<br />
					<center>Please include your email address </center>
					<center>so your promotion code can be </center>
					<center>sent upon reciept of your check.</center>

					<br><hr><br><center>
					<b>Choose your document size settings: </b><br><br>
					
					<select name="user[paper]">
						<option value ="0">Letter</option>
					 	<option value ="1">Legal</option>
					</select><br><br>
					
					<hr>
					<br>
					

					<b>You must read and agree to our </b><br><%= link_to "Terms of Use", {:action => 'terms'}, :target => '_blank' %> and <%= link_to "Privacy Policy", {:action => 'privacy'}, :target => '_blank' %><br><br>
					<div><%= f.check_box  :terms_of_service%> I have read and accept the <b>Terms of Use</b><br></div>
					
					<br>
					
					<%= f.check_box  :newsletter, :checked => true %> Signup for our newsletter<br><br>
					<%= f.hidden_field  :account, :value => '0' %>
					<%= submit_tag 'Create my account' -%>
					
					<% end %>

					</center>
					</td>
					<td width="15%"></td>
					</tr>
					</table>
					</fieldset> 
					</form>
				</div>
			</div> 
			<div id="footer">
			 <%= link_to "Terms of Use", {:controller => 'user', :action => 'terms'}, :target => '_blank' %> | <%= link_to "Privacy Policy", {:controller => 'user', :action => 'privacy'}, :target => '_blank' %> | E-Lien &copy 2008	 All Rights Reserved
				</div></div>
			</body> 
</html>