<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<meta http-equiv="Content-Language" content="en-us" />
		<meta name="author" Content="Matt Swezey">
		<META NAME="DESCRIPTION"
		CONTENT="Lienmaker is an online application that gives Physicians, Clinics, Hospitals, and Amublances an easy tool to generate and file Liens electronically.">
		<META NAME="KEYWORDS" CONTENT="physican, legal forms, lien, medical lien, physician lien, hospital lien, ambulance, hospital, legal service, medical legal, lienmaker ">
		<title>E-Lien</title>
		<%= stylesheet_link_tag "style" %>
		<%= javascript_include_tag :defaults %>
		<%= javascript_include_tag ("lightbox.js") %>
		<%= javascript_include_tag ("tooltip.js") %>
	</head>
	<body>
		
			
			<div id="centerdiv" style="margin: 0 auto; width:580px;">
				
				<div style="text-align: center">
						<%= image_tag "e-lien-logo-green-sm.png"%>
					</div>
					
					<div id="top_ad" style="text-align:center;margin:5px auto;"></div>
			<% if flash[:notice] %>
			<div class="notice">
				<%= flash[:notice] %>
			</div>
			<% end %> <center><h1 style="color:#348BCB;">Select Account Type</h1></center>
			
			<div id="content">
				<div id="contentContainer">
					<table>
						<tr>
							<td valign="center"> <%= image_tag "icons/physician-icon.png"%> </td>
							<td valign="center"> <%= link_to "Physician", :action => 'physician'%>
							<br>
							<br>
							</td>
						</tr>
						<tr>
							<td> <%= image_tag "icons/hospital-icon.png"%> </td>
							<td valign="center"> Hospital <span style="font-size:7pt;">Coming Soon</span>
							<br>
							<br>
							</td>
						</tr>
						<tr>
							<td> <%= image_tag "icons/ambulance-icon.png"%> </td>
							<td valign="center">Ambulance <span style="font-size:7pt;">Coming Soon</span></td>
						</tr>
					</table>
				</div>
			</div>
			</div>
			
		
	</body>
</html>