<html>
<head>
	<meta http-equiv="refresh" content="5;url=../<%=@redirect%>" />
</head>
<body>

<%if @redirect == "purchased"%>
	<h2>Status</h2>
<%= @data %><br><br>
<%= @errorDescription %><br><br>
This page will automatically go back in 5 seconds...
<%end%>

<%if @redirect == "rejected"%>
	<h2>Status</h2>
<%= @data %><br><br>
<%= @errorDescription %><br><br>
<%end%>
</body>
</html>