<h1>Purchased Documents</h1>
<span style="color:red;font-size:small">Documents will only be available for 90 days after being recorded.  Please download and archive promptly.</span>
<table width="100%">
	<th align="left">E-File ID</th><th align="left">Patient Name</th><th align="left">Status</th><th align="left">Date Submitted</th><th align="left">Status</th>
<% for document in @documents %>
<% if document.updated_at > (Time.now - 90.days) %>
<tr>
	<td><%= document.id %></td>
	<td align="left"><%= document.grantee_first %> <%= document.grantee_last%></td>
	<td><%= link_to "Check", {:action => :check_status, :id => document.id},  :onclick => 'Element.show("checking'+document.id.to_s+'");Element.hide(this)' if document.status == 1 %><%= link_to "Download Now", {:action => :download, :id => document.id}, :onclick => 'Element.show("downloading'+document.id.to_s+'");Element.hide(this)' if document.status == 2 %><div id="downloading<%=document.id.to_s%>" style="display:none;"><p><img height="20px" width="20px" src="/images/ajax-loader.gif">Downloading...</p></div><div id="checking<%=document.id.to_s%>" style="display:none;"><p><img height="20px" width="20px" src="/images/ajax-loader.gif">Checking Status...</p></div></td>
	<td><%=document.sent_date%></td>
	<td><%=document.status_condition%></td>

</tr>
<% end %>	
<% end %>
</table>




