<h1>Shopping Cart</h1>
<br>
<%if @count < 1%><%= link_to "Click Here", :action => :new %> to start<br><br><%end%>

<% if @count > 0 %>
<b>+</b> <%= link_to "Add Document to order", :action => :new %><br><br>
<div id="shopping-cart" style="border:solid 1px #348BCB;width:300px;text-align:left;padding:10px;margin:10px;">
	<h2 align="center">Order Summary</h2><br>
Documents in this order: <b><%= @count  %></b> at $15 per lien<br>
Attachments in this order: <b><%= @attachments%></b> at $2 per page<br>
Subtotal: <b>$<%= (@count * 15) + (@attachments * 2)%>.00</b><br><br>

<small>E-File Fee: $<%= @count * 6 %>.00 ($6.00 per document)</small><br><br>

Total: <b>$<%= @cost%>.00</b><br><br>
Select Jurisdiction<br><select>
	<option>Tulsa County</option>
</select><br><br>
<%= link_to image_tag('https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif'), :controller => :payments, :action => 'checkout' %>
</div>
<h2>Documents in Order</h2>
<table width="100%">
	<th>Document ID</th><th>Attachments</th><th>Document Type</th><th>Patient Name</th><th><th>File Name</th>
<% for document in @documents %>
<tr>
	<td align="center"><%= document.id %></td>
	<td align="center"><%= (document.page_count - 1).to_s if document.page_count > 1%></td>
	<td align="center">Physician Lien</td>
	<td align="center"><%= document.grantee_first %> <%= document.grantee_last%></td>
	<td align="center"><%= document.filename%></td>
	<td><%= link_to "Remove", :action => :delete, :id => document.id %></td>
</tr>
	
<% end %>
<%end%>
</table>