<div style="margin:auto; width:400px;font-size:14px; border:1px solid #000;padding:20px 0px 10px 0px;">
<%= form_for @post,:html =>{:id =>'frmuser', :multipart => true} do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div style="text-align:center;">
      <p>
         <%= f.label :name, "Name" %><br />
         <%= f.text_field :name,:class =>"validate[required]"%>
      </p>

       <p><%= f.submit "Submit" %>
          <input type="reset" value="Reset" />
       </p>
  </div>
<% end %>
</div>
