<html>
  <head>
    <%= javascript_include_tag "jquery-validation/jquery.js"%>
    <%= javascript_include_tag "jquery-validation/jquery.validationEngine.js" %>
    <%= javascript_include_tag "jquery-validation/jquery.validationEngine-en.js" %>
    <%= stylesheet_link_tag "jquery-validation/validationEngine.jquery.css" %>
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Lets Meet</title>
    

    <script type="text/javascript">
        jQuery.noConflict();
        jQuery(document).ready(function(){
        jQuery("#frmuser").validationEngine();
      });
    </script>
  </head>
<body>
<h1 style="padding:0px 0px 10px 0px ; text-align:center;">
  <font size="6" color="#780000 "><b>New Post</b></font></h1>
<%= render 'form' %>

<%= link_to 'Back', posts_path %>
</body>
</html>