<html>
	<head>
		<title>Lloyd's Liens Admin Area</title>
	</head>
	<body>
		<h1>Lloyd's Liens Admin Menu</h1>
		<ul>
			<li>
				<%= link_to("Liens", :controller => 'lien_admin', :action => 'list_no_attorney') %><small> (<%= Lien.count %>)</small><br>
			</li>
			<li>
				<%= link_to("Insurance Companies", :controller => 'insurance_companies', :action => 'list') %><small> (<%= InsuranceCompany.count %>)</small><br>
			</li>
			<li>
				<%= link_to("Users", :controller => 'users', :action => 'list') %><small> (<%= User.count %>)</small><br>
			</li>
			<li>
				<%= link_to("Providers", :controller => 'provider', :action => 'list') %><small> (<%= Provider.count %>)</small><br>
			</li>
		</ul>
	</body>
</html>
		