<%= error_messages_for 'insurance_company' %>

<!--[form:insurance_company]-->
<p><label for="insurance_company_name">Name</label><br/>
<%= text_field 'insurance_company', 'name', :maxlength => 25  %></p>

<p><label for="insurance_company_address">Address</label><br/>
<%= text_field 'insurance_company', 'address', :maxlength => 25  %></p>

<p><label for="insurance_company_city">City</label><br/>
<%= text_field 'insurance_company', 'city', :maxlength => 15  %></p>

<p><label for="insurance_company_state">State</label><br/>
<%= text_field 'insurance_company', 'state', :maxlength => 2  %></p>

<p><label for="insurance_company_zip">Zip</label><br/>
<%= text_field 'insurance_company', 'zip', :maxlength => 10  %></p>
<!--[eoform:insurance_company]-->

