<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
	<head> 
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" /> 
		<meta http-equiv="Content-Language" content="en-us" /> 
		<meta name="author" Content="Matt Swezey">
		<META NAME="DESCRIPTION"
CONTENT="Lienmaker is an online application that gives Physicians, Clinics, Hospitals, and Amublances an easy tool to generate and file Liens electronically.">
<META NAME="KEYWORDS" CONTENT="physican, legal forms, lien, medical lien, physician lien, hospital lien, ambulance, hospital, legal service, medical legal, lienmaker ">
			<title>E-Lien</title> 
			<%= stylesheet_link_tag "style" %> 
			<%= javascript_include_tag :defaults %> 
			<%= javascript_include_tag ("lightbox.js") %> 
			<%= javascript_include_tag ("tooltip.js") %>
			
	</head> 
	<body> 
		<div id="container">
		
			<div id="header" style="text-align:left"> 
				
				
			</div> 
			<div id="top_ad" style="text-align:center;margin:5px auto;">
				

			</div>
		
			<% if flash[:notice] %><div class="notice"><%= flash[:notice] %></div><% end %>
			<div id="content"> 

				<div id="contentContainer">
<div id="new-insurance-form">
	<h2>Insurance Company</h2>
	
	<%= form_tag :controller => 'user_insurance', :action => 'update', :id => @insurance_company.id %>
<%= render :partial => "insurance_form"%>

<%= submit_tag "Save" %>